<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h2>プロフィール編集画面</h2>
  <div class="field mt-3 form-group">
    <h3><%= form.label :名前 %></h3>
    <%= form.text_area :name, class: "form-control" %>
  </div>

  <div class="field mt-3 form-group">
    <h3><%= form.label :プロフィール画像 %></h3>
    <%= image_tag(@user.profile_picture.url, width: "300") if @user.profile_picture && @user.profile_picture.url %>
    <div class ="mt-3">
      <%= form.file_field :profile_picture %>
      <%= form.hidden_field :profile_picture_cache %>
    </div>
  </div>

  <div class="field mt-3 form-group">
    <h3><%= form.label :プロフィール %></h3>
    <%= form.text_area :profile, class: "form-control"%>
  </div>

  <div class="field mt-3 form-group">
    <h3><%= form.label :パスワード %></h3>
    <%= form.text_area :password, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<div class ="mt-3">
  <%= link_to '戻る', user_path, class: "btn btn-outline-danger" %>
</div>
<% end %>
