<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <h2>確認画面</h2>
  <p><%= image_tag(@picture.image.url, width: '350') if @picture.image && @picture.image.url %></p>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <h3 class="mt-3">Content</h3>
  <p><%= @picture.content %></p>
  <div>
    <%= form.submit "投稿する", class: "btn btn-outline-danger" %>
  </div>

  <div class ="mt-3">
  <%= form.submit "戻る", name: "back", class: "btn btn-outline-danger" %>
  </div>
<% end %>