<!DOCTYPE html>
<html>
  <head>
    <title>Photosharing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="d-flex flex-column flex-md-row align-items-center bg-light bg-gradient p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal">Photosharing</h1>
    <nav class="my-4 my-md-2 mr-md-6">
    <% if logged_in? %>
      <%= image_tag(current_user.profile_picture.url, height: '50') if current_user.profile_picture && current_user.profile_picture.url %>
      <%= link_to "プロフィール", user_path(current_user.id), class: "btn btn-outline-danger btn-lg" %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "btn btn-outline-danger btn-lg" %>
    <% else %>
      <%= link_to "Sign up", new_user_path, class: "btn btn-outline-danger btn-lg" %>
      <%= link_to "Login", new_session_path, class: "btn btn-outline-danger btn-lg" %>
    <% end %>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  <footer class="border-top mt-5">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </li>
          </ul>
          <div class="small text-center text-muted fst-italic">Copyright &copy; Min 2023</div>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
